APP_NAME=ParishHub
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://chms.stferdinandboystown.com
APP_TIMEZONE=Africa/Lagos

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=parishhub
DB_USERNAME=
DB_PASSWORD=

SANCTUM_STATEFUL_DOMAINS=chms.stferdinandboystown.com
SANCTUM_TOKEN_EXPIRATION_MINUTES=43200
SESSION_DRIVER=database

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=info@stferdinandboystown.com
MAIL_FROM_NAME="St. Ferdinand Catholic Church"

TERMII_API_KEY=
TERMII_SENDER_ID=StFerdinand

QUEUE_CONNECTION=database
FILESYSTEM_DISK=public

FRONTEND_URL=https://chms.stferdinandboystown.com
